body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(circle at top, rgb(80, 0, 120) 20%, rgb(30, 0, 40) 50%, rgb(5, 0, 10) 90%);
    background-size: cover;
    text-shadow: 0 0 1px #fff, 0 0 1px cyan, 0 0 1px pink;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

.homepageCon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.neG {
    color: #a6a6a6;
}

.paragraph {
    display: flex;
    justify-content: center;
    color: red;
    align-items: center;
}

.btn-con {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.homepageCon h1 {
    font-size: 3rem;
    color: #fff;
}

.homepageCon p {
    font-size: 1.5rem;
    color: #333;
}

.homepageCon button {
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.homepageCon button:hover {
    background: rgb(80, 0, 120);
}

.cta-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cta-btn:hover {
    background:rgb(80, 0, 120);
    border-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.nBtn {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.pText {
    color: #a6a6a6;
}

.logo {
    font-size: 20px;
    color: #fff;
}

.ai {
    color: #a6a6a6;
}

.image-container {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.side-image {
    height: 700px;
    width: 50%;
    opacity: 0.8;
}

.left-image {
    position: absolute;
    left: 0;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.right-image {
    position: absolute;
    right: 0;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media (max-width: 768px) {
    .homepageCon {
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-top: 0px;
    }

    .homepageCon h1 {
        font-size: 2rem;
    }

    .homepageCon p {
        font-size: 1.2rem;
    }

    .btn-con {
        flex-direction: column;
    }

    .side-image {
        width: 100%;
    }
    .left-image {
        width: 0px;
    }

    .right-image {
        width: 800px;
    }
    }
